<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="header"></div>
    <div class="main animated bounceInLeft">
        <div class="category-image" style="background-image: url({{ params.image }}); background-size:cover;background-repeat: no-repeat;background-position: center center;"></div>
        <div class="category-description">{{ params.description }}</div>

        <ion-content delegate-handle="subScroll" style="top:40%; height: 60%" scrollbar-y="false" has-bouncing="false">

            <div class="list card" ng-repeat="level in levels">

                <div class="item level-card-header">
                    {{ level.title }}
                </div>

                <div class="item item-body level-card-body">
                    <img class="full-image" src="{{ level.image }}">
                </div>

                <div class="item level-card-footer">
                    <div class="level-stars">
                        <i class="ion-ios-star-outline"></i>
                        <i class="ion-ios-star-outline"></i>
                        <i class="ion-ios-star-outline"></i>
                    </div>
                    <a ui-sref="level({id: level.id})"class="button level-start-button"  ng-class="{'disabled': level.locked == true}">
                        Pradėti
                    </a>
                </div>

            </div>

        </ion-content>
    </div>
</ion-view>
