<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="header">
        <div class="header-logo"></div>
        <div class="header-hamburger"></div>
    </div>
    <div class="main">
        <div class="user-stats lightblue-gradient-bg">
            <div class="user-stats-achievements">
                <div class="user-stats-achievements-button">
                    <button class="button button-block button-calm  small gold-button">PASIEKIMAI</button>
                </div>
                <div class="user-stats-achievements-alert">3</div>
                </div>
            <div class="user-stats-progressbox gold-gradient-bg animated bounceIn">
                <div class="user-stats-level">{{ user.level }}</div>
                <div class="user-stats-level-progress">{{ user.exp }}/{{ user.nextLevel }} </div>
            </div>
            <div class="progress animated bounceIn" id="progress" style="background-image: url('http://zilkil.com/eltukas/img/avatars/default.png'); background-size: contain; background-repeat: no-repeat;"></div>
        </div>
        <ion-scroll direction="x" scrollbar-x="false" has-bouncing="false" class="horizontal-menu gold-gradient-bg">
            <a class="button horizontal-menu-button gold-gradient-bg" ng-class="{'disabled': type.id == activeType}" ng-repeat="type in ::types" ng-click="getCategoriesByType(type.id, $index)">
                <p class="menu-text-centered">{{ ::type.title }}</p>
            </a>
        </ion-scroll>
        <ion-scroll direction="y" scrollbar-y="false" has-bouncing="false" delegate-handle="categoriesScroll" class="categories-scroll lightblue-gradient-bg" scrollbar-y="false" has-bouncing="false">
            <div class="category-main" ng-repeat-start="category in categories track by category.id" ng-click="loadLevels(category.id)">
                <div ng-class="!($index % 2) ? 'category-main-image-right' : 'category-main-image'" style="background-image: url({{ ::category.image }}); background-size:cover;background-repeat: no-repeat;background-position: center center;"></div>
                <div ng-class="!($index % 2) ? 'category-main-title-right' : 'category-main-title'">{{ ::category.title }}</div>
            </div>
            <div id="cat{{category.id}}" class="category-extend-main gold-gradient-bg" ng-repeat-end>
                <div class="category-extend-arrow-left animated infinite pulse" ng-class="activeLevel == 0 ? 'hidden' : ''" ng-click="activeLevel = activeLevel - 1"></div>
                <div class="category-extend-arrow-right animated infinite pulse" ng-class="activeLevel == levels.length-1 ? 'hidden' : ''" ng-click="activeLevel = activeLevel + 1"></div>

                <div class="category-extend-title">{{ levels[activeLevel].title }}</div>
                <div class="category-extend-stars">
                    <img ng-src="{{levels[activeLevel].userstars > '0' && './img/star.png' || './img/star-empty.png'}}" style="height: 90%"/>
                    <img ng-src="{{levels[activeLevel].userstars > '1' && './img/star.png' || './img/star-empty.png'}}" style="height: 100%"/>
                    <img ng-src="{{levels[activeLevel].userstars > '2' && './img/star.png' || './img/star-empty.png'}}" style="height: 90%"/>
                </div>
                <div class="category-extend-button">
                    <div ng-click="goToLevel(levelType, activeLevel)" class="button button-block button-calm blue" style="margin: 0;" ng-class="{'disabled': levels[activeLevel].locked == true}">PRADĖTI</div>
                </div>
            </div>

            <!--<a ui-sref="category({id: category.id, image: category.image, description: category.description})" class="list-category" ng-repeat="category in categories track by category.id" style="background-image: url({{ ::category.image }}); background-size:cover;background-repeat: no-repeat;background-position: center center;">-->
                <!--<div style="position: absolute;font-size: 200%;color: white;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%); ">-->
                    <!--{{ ::category.title }}-->
                <!--</div>-->
            <!--</a>-->
        </ion-scroll>
    </div>
</ion-view>
