<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="header">
        <div class="level-title">{{ title }}</div>
    </div>
    <div class="main lightblue-gradient-bg">
        <div class="level-image-box" style="background-image: url({{ image }}); background-size:cover;background-repeat: no-repeat;background-position: center center;">

        </div>
        <div class="level-hearts-box">
            <img ng-src="{{hearts > '0' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>
            <img ng-src="{{hearts > '1' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>
            <img ng-src="{{hearts > '2' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>

        </div>
        <div class="level-buttons-box">
            <div class="row" style="padding: 0">
                <div class="col">
                    <button class="button button-block button-calm gold-button" style="font-size: 2.5vh !important;" ng-click="validateAnswer(id, answers[0])">
                        {{ answers[0] }}
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-calm gold-button" style="font-size: 2.5vh !important;" ng-click="validateAnswer(id, answers[1])">
                        {{ answers[1] }}
                    </button>
                </div>
            </div>
            <div class="row" style="padding: 0">
                <div class="col">
                    <button class="button button-block button-calm gold-button" style="font-size: 2.5vh !important;" ng-click="validateAnswer(id, answers[2])">
                        {{ answers[2] }}
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-calm gold-button" style="font-size: 2.5vh !important;" ng-click="validateAnswer(id, answers[3])">
                        {{ answers[3] }}
                    </button>
                </div>
            </div>
        </div>


    </div>
</ion-view>
