<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="header">
        <div class="level-title">{{ title }}</div>
    </div>
    <div class="main lightblue-gradient-bg">
        <div class="level-image-box" style="background-image: url({{ image }}); background-size:cover;background-repeat: no-repeat;background-position: center center;">

        </div>
        <div class="level-hearts-box">
            <img ng-src="{{hearts > '0' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>
            <img ng-src="{{hearts > '1' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>
            <img ng-src="{{hearts > '2' && './img/heart.png' || './img/heart-empty.png'}}" style="height: 100%"/>
        </div>
        <div class="level-input-box">
            <label class="item item-input dark-blue-input" ng-class="userError == true ? 'animated shake' :''">
                <input type="text" placeholder="Įrašyk žodį čia" ng-model="data.answer" style="text-align: center">
            </label>
        </div>
        <div class="level-add-box">
            <div class="level-add-box-text">
                {{ add }}
                <button class="button button-block button-calm gold-button" style="font-size: 2.5vh !important;" ng-click="validateAnswer(id, data.answer)">Atsakyti</button>
            </div>
        </div>

    </div>
</ion-view>
