<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="main register-main">
        <div class="register-main-logo"></div>
        <div class="register-main-input-username login" ng-class="loginShow == true ? 'animated fadeInRightBig': (loginShow == false ? 'animated fadeOutRightBig' : 'hidden')">
            <label class="item item-input dark-blue-input" ng-class="userError == true ? 'animated shake' :''">
                <input type="text" placeholder="Vartotojo vardas" ng-model="loginData.username" style="text-align: center">
            </label>
            <label class="item item-input dark-blue-input" ng-class="userError == true ? 'animated shake' :''">
                <input type="password" placeholder="Slaptažodis" ng-model="loginData.password" style="text-align: center">
            </label>

        </div>
        <div class="login-main-eltukas" ng-class="loginShow == true ? 'animated fadeInRightBig': (loginShow == false ? 'animated fadeOutRightBig' : 'hidden')"></div>
        <div class="login-main-bubble" ng-class="loginShow == true ? 'animated fadeInLeftBig': (loginShow == false ? 'animated fadeOutLeftBig' : 'hidden')"></div>
        <div class="login-main-buttons" ng-class="loginShow == true ? 'animated fadeInLeftBig': (loginShow == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <button class="button button-block button-calm gold-button" ng-click="login()" ng-class="emptyFieldsError == true ? 'animated shake' : ''">PRISIJUNGTI</button>
            <button class="button button-block button-calm blue" ng-click="registration()">REGISTRUOTIS</button>
        </div>
        <div class="login-main-error" ng-class="loginShow == true ? 'animated fadeInLeftBig': (loginShow == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <p ng-class="loginShow == true && errorMessage != false ? 'animated lightSpeedIn show' : ''"> {{ errorMessage }}</p>
        </div>
    </div>
</ion-view>
