<ion-view hide-nav-bar="true" title='<img src="img/logo-header.png" style="padding-top: 8px"/>'>
    <div class="main register-main">
        <div class="register-main-logo"></div>
        <!--Register main-->
        <div class="register-main-eltukas" ng-class="index == true ? 'animated fadeInUpBig': (index == false ? 'animated fadeOutDownBig' : 'hidden')"></div>
        <div class="register-main-bubble" ng-class="index == true ? 'animated fadeInLeftBig': (index == false ? 'animated fadeOutLeftBig' : 'hidden')"></div>
        <div class="register-main-button" ng-class="index == true ? 'animated fadeInLeftBig': (index == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <button class="button button-block button-calm gold-button" ng-click="nextStep('index')">REGISTRUOTIS</button>
        </div>
        <!--Username/password-->
        <div class="register-main-input-username" ng-class="username == true ? 'animated fadeInRightBig': (username == false ? 'animated fadeOutRightBig' : 'hidden')">
                <label class="item item-input dark-blue-input" ng-class="usernameError == true ? 'animated shake' :''">
                    <input type="text" placeholder="Vartotojo vardas" ng-model="registerData.username" style="text-align: center">
                </label>
            <label class="item item-input dark-blue-input" ng-class="passwordError == true ? 'animated shake' :''">
                <input type="password" placeholder="Slaptažodis" ng-model="registerData.password" style="text-align: center">
            </label>
            <label class="item item-input dark-blue-input" ng-class="passwordError == true ? 'animated shake' :''">
                <input type="password" placeholder="Slaptažodis dar kartą" ng-model="registerData.passwordConfirm" style="text-align: center">
            </label>

        </div>
        <div class="register-main-eltukas-username" ng-class="username == true ? 'animated fadeInLeftBig': (username == false ? 'animated fadeOutLeftBig' : 'hidden')"></div>
        <div class="register-main-bubble-username" ng-class="username == true ? 'animated fadeInUpBig': (username == false ? 'animated fadeOutDownBig' : 'hidden')"></div>
        <div class="register-main-button-username" ng-class="username == true ? 'animated fadeInLeftBig': (username == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <button class="button button-block button-calm gold-button" ng-click="nextStep('username')" ng-class="emptyFieldsError == true ? 'animated shake' : ''">Toliau</button>
        </div>
        <div class="register-main-error-username" ng-class="username == true ? 'animated fadeInLeftBig': (username == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <p ng-class="emptyFieldsError == true && username == true? 'animated shake' : (errorMessage != false ? 'animated lightSpeedIn show' : '')"> {{ errorMessage }}</p>
        </div>
        <!--Avatar-->
        <div class="register-main-eltukas-avatar" ng-class="avatar == true ? 'animated fadeInUpBig': (avatar == false ? 'animated fadeOutDownBig' : 'hidden')"></div>
        <div class="register-main-bubble-avatar" ng-class="avatar == true ? 'animated fadeInUpBig': (avatar == false ? 'animated fadeOutDownBig' : 'hidden')"></div>
        <div class="register-main-picker-avatar" ng-class="avatar == true ? 'animated fadeInRightBig': (avatar == false ? 'animated fadeOutDownBig' : 'hidden')">
            <div class="register-main-arrow-up" ng-class="avatar == true ? 'animated infinite pulse': 'hidden'"></div>
            <div class="register-main-avatar" ng-class="avatar == true ? 'animated fadeInUpBig': (avatar == false ? 'animated fadeOutDownBig' : 'hidden')"></div>
            <div class="register-main-arrow-down" ng-class="avatar == true ? 'animated infinite pulse': 'hidden'"></div>
        </div>
        <div class="register-main-button-avatar" ng-class="avatar == true ? 'animated fadeInLeftBig': (avatar == false ? 'animated fadeOutLeftBig' : 'hidden')">
            <button class="button button-block button-calm gold-button" ng-click="register()">REGISTRUOTIS</button>
        </div>


    </div>
</ion-view>
