/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@font-face {
  font-family: SigmarOne;
  src: url("../lib/ionic/fonts/SigmarOne.otf") format("opentype");
}

$font-family-base:                "SigmarOne", cursive !default;
$base-background-color:           #9dd8f9 !default;
$positive:                        #379ad9 !default;
$card-body-bg:                    #9dd8f9 !default;
$input-color-placeholder:         #246087 !default;
$input-color:                     #ffffff !default;

.main {
  position: absolute;
  top: 7%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.main.register-main {
  top: 0;
  height: 100%;
  background: #9dd8f9;
  background: -moz-radial-gradient(center, ellipse cover,  #9dd8f9 0%, #379ad9 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9dd8f9), color-stop(100%,#379ad9));
  background: -webkit-radial-gradient(center, ellipse cover,  #9dd8f9 0%,#379ad9 100%);
  background: -o-radial-gradient(center, ellipse cover,  #9dd8f9 0%,#379ad9 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #9dd8f9 0%,#379ad9 100%);
  background: radial-gradient(ellipse at center,  #9dd8f9 0%,#379ad9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd8f9', endColorstr='#379ad9',GradientType=1 );
}

.register-main-logo {
    background-image: url("../img/registration/logo.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    height: 5%;
    width: 50%;
    left: 25%;
    position: absolute;
}

.register-main-eltukas {
  background-image: url("../img/registration/eltukas-index.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  height: 52%;
  width: 55%;
  position: absolute;
}

.register-main-bubble {
  background-image: url("../img/registration/bubble-index.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 22%;
  right: 5%;
  height: 30%;
  width: 90%;
  position: absolute;
}

.register-main-button {
  bottom: 5%;
  left: 5%;
  height: 8%;
  width: 60%;
  position: absolute;
}

.register-main-eltukas-username {
  background-image: url("../img/registration/eltukas-username.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
  height: 55%;
  width: 30%;
  position: absolute;
}

.register-main-bubble-username {
  background-image: url("../img/registration/bubble-username.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 5%;
  right: 5%;
  height: 20%;
  width: 80%;
  position: absolute;
}

.register-main-button-username {
  bottom: 40%;
  right: 5%;
  height: 8%;
  width: 50%;
  position: absolute;
}

.register-main-error-username {
  bottom: 23%;
  right: 5%;
  height: 15%;
  width: 65%;
  color: red;
  text-align: right;
  position: absolute;
  visibility: hidden;
}

.register-main-input-username {
  top: 25%;
  right: 5%;
  height: 30%;
  width: 90%;
  position: absolute;
}

.register-main-input-username.login {
  height: 20%!important;
}

.register-main-eltukas-avatar {
  background-image: url("../img/registration/eltukas-avatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 5%;
  left: 5%;
  height: 55%;
  width: 35%;
  position: absolute;
}

.register-main-bubble-avatar {
  background-image: url("../img/registration/bubble-avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 50%;
  right: 5%;
  height: 20%;
  width: 70%;
  position: absolute;
}

.register-main-picker-avatar {
  bottom: 15%;
  right: 10%;
  height: 35%;
  width: 40%;
  position: absolute;
}

.register-main-arrow-up {
  background-image: url("../img/registration/arrow-up.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 30%;
  height: 20%;
  width: 40%;
  position: absolute;
}

.register-main-arrow-down {
  background-image: url("../img/registration/arrow-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 30%;
  height: 20%;
  width: 40%;
  position: absolute;
}

.register-main-avatar {
  background-image: url("../img/registration/avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 10%;
  left: 5%;
  height: 80%;
  width: 90%;
  position: absolute;
}

.register-main-button-avatar {
  bottom: 5%;
  right: 5%;
  height: 8%;
  width: 55%;
  position: absolute;
}

.login-main-eltukas {
  background-image: url("../img/login/eltukas.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 65%;
  position: absolute;
}

.login-main-bubble {
  background-image: url("../img/login/bubble.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 15%;
  left: 5%;
  height: 20%;
  width: 85%;
  position: absolute;
}

.login-main-buttons {
  top: 43%;
  right: 5%;
  height: 15%;
  width: 90%;
  position: absolute;
}

.login-main-error {
  top: 41%;
  right: 5%;
  height: 15%;
  width: 90%;
  color: red;
  text-align: center;
  position: absolute;
  visibility: hidden;
}

.dark-blue-input {
  background-color: #45a2de !important;
  -webkit-border-radius: 30vh !important;
  -moz-border-radius: 30vh !important;
  border-radius: 30vh !important;
  font-size: 3vh !important;
  color: #ffffff !important;
  border: hidden !important;
  margin-bottom: 5% !important;
  text-align: center !important;
}

.button-calm {
    background: #e7be5f;
    background-image: -webkit-linear-gradient(top, #e7be5f, #daa23a);
    background-image: -moz-linear-gradient(top, #e7be5f, #daa23a);
    background-image: -ms-linear-gradient(top, #e7be5f, #daa23a);
    background-image: -o-linear-gradient(top, #e7be5f, #daa23a);
    background-image: linear-gradient(to bottom, #e7be5f, #daa23a);
    -webkit-border-radius: 30vh !important;
    -moz-border-radius: 30vh !important;
    border-radius: 30vh !important;
    font-size: 3vh !important;
}

.button-calm.blue {
  background: #5bb0e3;
  background: -moz-linear-gradient(top,  #5bb0e3 0%, #348ed4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5bb0e3), color-stop(100%,#348ed4));
  background: -webkit-linear-gradient(top,  #5bb0e3 0%,#348ed4 100%);
  background: -o-linear-gradient(top,  #5bb0e3 0%,#348ed4 100%);
  background: -ms-linear-gradient(top,  #5bb0e3 0%,#348ed4 100%);
  background: linear-gradient(to bottom,  #5bb0e3 0%,#348ed4 100%);
  -webkit-border-radius: 30vh !important;
  -moz-border-radius: 30vh !important;
  border-radius: 30vh !important;
  font-size: 3vh !important;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-container > .row {
  flex: 1;
}

.user-stats {
  position: relative;
  height: 22%;
 }

.horizontal-menu {
  top: 32%;
  overflow: scroll;
  white-space: nowrap;
  height: 10% !important;
  background-color: #f3c869;
}
.scroll {
  min-width: 100%;
  height: 100% !important;
}

.horizontal-menu-button {
  height: 100%;
  position: absolute;
  line-height: 9vh !important;
  background-color: #f3c869 !important;
  border-style: none !important;
  color: #a77a29 !important;
}

.horizontal-menu-button.disabled {
  background: #c5a251;
  background: -moz-linear-gradient(top,  #c5a251 0%, #b98a31 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5a251), color-stop(100%,#b98a31));
  background: -webkit-linear-gradient(top,  #c5a251 0%,#b98a31 100%);
  background: -o-linear-gradient(top,  #c5a251 0%,#b98a31 100%);
  background: -ms-linear-gradient(top,  #c5a251 0%,#b98a31 100%);
  background: linear-gradient(to bottom,  #c5a251 0%,#b98a31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5a251', endColorstr='#b98a31',GradientType=0 );
  color: #a77a29 !important;
}

.menu-text-centered {
  color: #fff;
  font-size: 3vh;
}

.progress {
  height: 70%;
  top: 15%;
  left: 40%;
  position: absolute;
}
.progress > svg {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  height: 100%;
  display: block;
}

.progress-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  -webkit-transform:
  translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user-stats-progressbox {
  height: 68%;
  width: 50%;
  left: 50%;
  position: absolute;
  top: 16%;
}

.user-stats-level {
  height: 60%;
  width: 50%;
  left: 35%;
  text-align: center;
  color: #fff;
  line-height: 6vh;
  font-size: 9vh;
  position: absolute;
  top: 10%;
}

.user-stats-level-progress {
  height: 20%;
  width: 50%;
  left: 35%;
  text-align: center;
  color: #fff;
  line-height: 2vh;
  font-size: 3vh;
  position: absolute;
  top: 70%;
}

.user-stats-achievements {
  height: 68%;
  width: 50%;
  position: absolute;
  top: 16%;
}

.user-stats-achievements-button {
  height: 5% !important;
  top: 12%;
  width: 65%;
  left: 5%;
  position: absolute;
}

.user-stats-achievements-alert {
  background-image: url("../img/alert.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35%;
  width: 25%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  text-align: center;
  color: #fff;
  line-height: 4.8vh;
  font-size: 3vh;
}

.button-calm.small {
  font-size: 1.8vh !important;
}

.categories-scroll {
  position: relative !important;
  height: 69% !important;
}

.category-main {
  width: 90%;
  height: 20%;
  left: 5% !important;
  margin-top: 5%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  vertical-align: middle;
  position: relative;
  background: #4ba7de;
  background: -moz-linear-gradient(top,  #4ba7de 0%, #2a87cf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba7de), color-stop(100%,#2a87cf));
  background: -webkit-linear-gradient(top,  #4ba7de 0%,#2a87cf 100%);
  background: -o-linear-gradient(top,  #4ba7de 0%,#2a87cf 100%);
  background: -ms-linear-gradient(top,  #4ba7de 0%,#2a87cf 100%);
  background: linear-gradient(to bottom,  #4ba7de 0%,#2a87cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba7de', endColorstr='#2a87cf',GradientType=0 );
}

.category-main-image {
  width: 25%;
  height: 100%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  position: absolute;
  border: solid 1vh !important;
  border-color: #e2b34b !important;
//  border: 1vh !important;
  opacity: 0.9;
}

.category-main-title {
  width: 75%;
  height: 100%;
  margin-left: 25%;
  line-height: 12vh;
  font-size: 4vh;
  text-align: center;
  color: #fff;
}

.category-main-image-right {
  width: 25%;
  margin-left: 75%;
  height: 100%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  position: absolute;
  border: solid 1vh !important;
  border-color: #e2b34b !important;
  //  border: 1vh !important;
  opacity: 0.9;
}

.category-main-title-right {
  width: 75%;
  height: 100%;
  margin-right: 25%;
  line-height: 12vh;
  font-size: 4vh;
  text-align: center;
  color: #fff;
}

.category-extend-main {
  z-index: -1;
  width: 80%;
  height: 40%;
  left: 10% !important;
  margin-top: -5%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  vertical-align: middle;
  position: relative;
  display: none;
}

.category-extend-title {
  width: 70%;
  height: 30%;
  margin-left: 15%;
  top: 10%;
  line-height: 8vh;
  font-size: 4vh;
  text-align: center;
  color: #fff !important;
  position: relative;
}

.category-extend-stars {
  width: 45%;
  height: 25%;
  margin-left: 27.5%;
  top: 10%;
  position: relative;
}

.category-extend-button {
  width: 50%;
  height: 22%;
  margin-left: 25%;
  top: 15%;
  line-height: 8vh;
  position: relative;
}

.category-extend-arrow-left {
  background-image: url("../img/arrow-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: 25%;
  top: 40%;
  left: 5%;
  position: absolute;
}

.category-extend-arrow-right {
  background-image: url("../img/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: 25%;
  top: 40%;
  right: 5%;
  position: absolute;
}

.level-title {
  line-height: 6vh;
  font-size: 3vh;
  text-align: center;
  color: #fff !important;
}

.level-image-box {
  height: 45%;
  width: 85%;
  top: 10%;
  left: 7.5%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  border: solid 1vh !important;
  border-color: #e2b34b !important;
  position: absolute;
}

.level-hearts-box {
  height: 6%;
  width: 37%;
  top: 56%;
  right: 10%;
  position: absolute;
}

.level-buttons-box {
  height: 25%;
  width: 90%;
  top: 70%;
  left: 5%;
  position: absolute;
}

.level-input-box {
  height: 10%;
  width: 90%;
  top: 65%;
  left: 5%;
  position: absolute;
}

.level-add-box {
  height: 23%;
  width: 90%;
  left: 5%;
  top: 75%;
  position: absolute;
  vertical-align: middle;
}

.level-add-box-text {
  text-align: center;
  font-size: 3vh;
  color: #fff;
}

.popup-head {
  background-color: #45a2de;
  color: #fff!important;
  display: none;
}

.popup {
  height: 40%;
  width: 90%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  border: solid 1vh !important;
  border-color: #fff !important;
}

.popup-body {
  vertical-align: middle;
  height: 100%;
  -webkit-border-radius: 3vh !important;
  -moz-border-radius: 3vh !important;
  border-radius: 3vh !important;
  padding: 0 !important;
  background: #89caf0; /* Old browsers */
  background: -moz-linear-gradient(top,  #89caf0 0%, #76bfec 45%, #56a8e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89caf0), color-stop(45%,#76bfec), color-stop(100%,#56a8e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89caf0', endColorstr='#56a8e4',GradientType=0 ); /* IE6-9 */
}

.popup-header {
  height: 15%;
  width: 100%;
  background-color: #45a2de;
}

.popup-text {
  text-align: center;
  color: #fff;
  top: 30%;
  transform: translateY(-30%);
  position: relative;
}

.popup-button {
  top: 70% !important;
  height: 10%;
  width: 70% !important;
  left: 15% !important;
  position: absolute;
}


.gold-gradient-bg {
  background: #e7bf60;
  background: -moz-linear-gradient(top,  #e7bf60 0%, #d9a139 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7bf60), color-stop(100%,#d9a139));
  background: -webkit-linear-gradient(top,  #e7bf60 0%,#d9a139 100%);
  background: -o-linear-gradient(top,  #e7bf60 0%,#d9a139 100%);
  background: -ms-linear-gradient(top,  #e7bf60 0%,#d9a139 100%);
  background: linear-gradient(to bottom,  #e7bf60 0%,#d9a139 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7bf60', endColorstr='#d9a139',GradientType=0 );
}

.darkblue-gradient-bg {
  background: #3699d7 !important;
  background: -moz-radial-gradient(center, ellipse cover,  #3699d7 0%, #2378ad 100%) !important;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3699d7), color-stop(100%,#2378ad)) !important;
  background: -webkit-radial-gradient(center, ellipse cover,  #3699d7 0%,#2378ad 100%) !important;
  background: -o-radial-gradient(center, ellipse cover,  #3699d7 0%,#2378ad 100%)!important;
  background: -ms-radial-gradient(center, ellipse cover,  #3699d7 0%,#2378ad 100%)!important;
  background: radial-gradient(ellipse at center,  #3699d7 0%,#2378ad 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3699d7', endColorstr='#2378ad',GradientType=1 )!important;
}

.lightblue-gradient-bg {
  background: #89caf0; /* Old browsers */
  background: -moz-linear-gradient(top,  #89caf0 0%, #76bfec 45%, #56a8e4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89caf0), color-stop(45%,#76bfec), color-stop(100%,#56a8e4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #89caf0 0%,#76bfec 45%,#56a8e4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89caf0', endColorstr='#56a8e4',GradientType=0 ); /* IE6-9 */

}

.category-overlay {
  height: 100%; width: 100%; background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

  opacity: 0.8
}

.level-container {
  width: 63%;
//  background-color: #ff0000;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
}

.your-level {
  background-image: url("../img/level.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:40%;
  width: 38%;
  top: 15%;
  position: absolute;
}

.list-category {
  display: block;
  height: 30%;
  position: relative;
}

.header {
  height: 7%;
  width: 100%;
  background-color: #379ad9;
}

.header-logo {
  background-image: url("../img/logo-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 5%;
  width: 40%;
  left: 3%;
  top: 1%;
  position: absolute;
}

.header-hamburger {
  background-image: url("../img/hamburger.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 5%;
  width: 10%;
  right: 5%;
  top: 1%;
  position: absolute;
}

.category-image {
  position: relative;
  height: 25%;
}

.category-description {
  top: 25%;
  height: 15%;
  background-color: #a77a29;
  color: #f3c869;
  font-size: 3vh;
  text-align: center;
  padding-top: 6%;
  line-height: 3vh;
  vertical-align: middle;
}

.level-card-header {
  background-color: #f3c869 !important;
  color: #a77a29 !important;
  font-size: 3vh !important;
  text-align: center;
  padding: 0 !important;
  height: 15% !important;
  line-height: 5.2vh;
}

.level-card-body {
  height: 70% !important;
  background-color: #379ad9 !important;
}

.level-card-footer {
  height: 17% !important;
  line-height: 5.2vh;
  background-color: #a77a29 !important;
}

.level-stars {
  position: absolute !important;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  color: #f3c869 !important;
  font-size: 5.5vh !important;
  line-height: 5.5vh;
  text-align: center;
  padding: 0;
}

.level-start-button {
  height: 100%;
  width: 60%;
  left: 40%;
  top: 0;
  padding: 0;
  position: absolute !important;
  vertical-align: middle;
  font-size: 3vh !important;
  line-height: 6vh !important;
  background-color: #f3c869 !important;
  border-style: none !important;
  color: #a77a29 !important;
}

.task-card-header {
  background-color: #f3c869 !important;
  color: #a77a29 !important;
  font-size: 3vh !important;
  text-align: center;
  padding: 0 !important;
  height: 10% !important;
  line-height: 5.2vh;
}

.task-card-body {
  height: 80% !important;
  background-color: #379ad9 !important;
}

.task-card-footer {
  height: 12% !important;
  line-height: 5.2vh;
  background-color: #a77a29 !important;
}

.card {
  width: 95%;
  margin-left: 2.5%!important;
  height: 70%;
  padding: 0!important;
  margin: 0;
}

.card.task {
  width: 95%;
  margin-left: 2.5%!important;
  height: 55%;
  padding: 0!important;
  margin: 0;
}

.backdrop {

  background-color: #9dd8f9 !important;
}

.loading{
  position: absolute !important;
  top:0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

&.animated {
  -webkit-transition-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -ms-transition-delay: 0.2s;

  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

.hidden {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
}

&.ng-enter-stagger {
  -webkit-transition-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -ms-transition-delay: 0.3s;

  animation-delay: 0.3s;
  transition-delay: 0.3s;
}

&.ng-enter {
  -webkit-animation: bounceIn 0.7s;
  -moz-animation: bounceIn 0.7s;
  -ms-animation: bounceIn 0.7s;
  animation: bounceIn 0.7s;
}

&.ng-leave {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

