        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Vartotojas" class="form-control" name="name" ng-model="registerData.username" required>
            </label>
        </div>
        <a ui-sref="register.password"><button class="button button-block button-calm">Toliau</button></a>
