        <div class="list list-inset">
            <label class="item item-input">
                <input type="password" placeholder="Slaptažodis" class="form-control" name="password" ng-model="registerData.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Pakartoti slaptažodį" class="form-control" name="passwordConfirm" ng-model="registerData.passwordConfirm">
            </label>
            <span ng-show="passwordError">{{ error }}</span>
        </div>
        <button class="button button-block button-calm" ng-click="validatePassword()">Toliau</button>
