<div class="popup-header">
    <div class="level-title">Uoj!</div>
</div>
<div class="popup-text">
    Šį kartą nepataikei, bandyk dar kartą!
</div>
<div class="popup-button">
    <button class="button button-block button-calm gold-button" style="font-size: 3vh !important;" ng-click="closePopup()">
        Gerai!
    </button>
</div>
